<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--    导航-->
<nav th:replace="admin/_fragments :: menu(1)"></nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class="item">发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="teal active item">列表</a>
        </div>
    </div>
</div>

<!--  中间内容-->
<div class="m-container-small  m-padded-tb-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功</p>
        </div>
        <form th:action="@{/admin/blogs/search}" method="post" class="ui secondary segment form">
            <input type="hidden" name="current"/>
            <div class="fields inline">
                <div class="field">
                    <input type="text" name="title" placeholder="标题"/>
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeId"/>
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type,typeStat : ${types}"
                                     class="item"
                                     th:data-value="${type.id}"
                                     th:text="${type.name}"
                                     data-value="1">错误日志
                                </div>
                            </div>
                        </div>
                        <button type="button" class="ui clear button">clear</button>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend"/>
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button id="search-btn"
                            type="button"
                            class="ui teal mini basic button"><i class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </form>

        <div id="table-container">
            <table th:fragment="blogList" class="ui compact teal table">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>发布时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,blogStat : ${pageInfo.list}">
                    <td th:text="${blogStat.count}">1</td>
                    <td th:text="${blog.title}">Vue学习笔记</td>
                    <td th:text="${blog.type.name}">学习笔记</td>
                    <td th:text="${blog.recommend}==true ? '是' : '否'">是</td>
                    <td th:text="${blog.published}==true ? '发布' : '草稿'">是</td>
                    <!--                    <td th:text="${blog.updateTime}">2020-7-5 20:00</td>-->
                    <td th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd HH:mm')}">2020-7-5 20:00</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}"
                           class="ui mini teal basic button">编辑</a>
                        <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}"
                           class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui pagination menu mini" th:if="${pageInfo.pages > 1}">
                            <a onclick="page(this)"
                               class="item"
                               th:attr="data-page=${pageInfo.pageNum}-1"
                               th:if="${pageInfo.hasPreviousPage}">
                                上一页
                            </a>
                            <a onclick="page(this)"
                               class="item"
                               th:attr="data-page=${pageInfo.pageNum}+1"
                               th:if="${pageInfo.hasNextPage}">
                                下一页
                            </a>
<!--                            <a th:href="@{/admin/blogs(current=${pageInfo.pageNum}-1)}"-->
<!--                               th:if="${pageInfo.hasPreviousPage}"-->
<!--                               class=" item">上一页11</a>-->
<!--                            <a th:href="@{/admin/blogs(current=${pageInfo.pageNum}+1)}" th:if="${pageInfo.hasNextPage}"-->
<!--                               class=" item">下一页22</a>-->
                        </div>
                        <a th:href="@{/admin/blogs/input}" class="ui mini teal basic button right floated">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>

<br/>
<br/>


<!--    页脚-->
<footer th:replace="admin/_fragments :: footer"></footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script type="text/javascript" th:inline="javascript">
    $(".menu.toggle").click(function () {
        //m-item
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $("#search-btn").click(function () {
        $("[name='current']").val(1);
        loaddata(true);
    });

    $(".clear.button").on('click', function () {
        $('.type.ui.dropdown').dropdown('clear');
        $("[name='title']").val('');
        $("#recommend").prop('checked', false);
    });

    function page(obj) {
        $("[name='current']").val($(obj).data('page')); //$(obj).data('page') 获取自定义的page值，传递给current
        // alert("要显示的page："+$(obj).data('page'));
        // $("[name='page']").val($(obj).data("page"));
        loaddata(false);
    }

    $('.message .close').click(function () {
        $(this).closest('.message').transition('fade');
    });

    function loaddata(search) {
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            current: $("[name='current']").val(),
            search: search
        });
    }

</script>
</body>


</html>
