<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>关于我</title>
</head>
<body>

<!--    导航-->
<nav th:replace="_fragments :: menu(5)"></nav>

<!--  中间内容-->
<div class="m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="../static/images/megumi.jpg"
                         th:src="@{/images/megumi.jpg}"
                         class="ui image rounded" style="width: 800px "/>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">一个正在努力转行互联网的BME本科在读生，目前还是个废狗，点技能ing</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui basic orange label left pointing">编程</div>
                    <div class="ui basic orange label left pointing">写作</div>
                    <div class="ui basic orange label left pointing">思考</div>
                    <div class="ui basic orange label left pointing">运动</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui basic teal label left pointing m-margin-tb-tiny">Java</div>
                    <div class="ui basic teal label left pointing m-margin-tb-tiny">JavaScript</div>
                    <div class="ui basic teal label left pointing m-margin-tb-tiny">Python</div>
                    <div class="ui basic teal label left pointing m-margin-tb-tiny">Linux</div>
                    <div class="ui basic teal label left pointing m-margin-tb-tiny">C++</div>
                    <div class="ui basic teal label left pointing m-margin-tb-tiny">...</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="#" target="_blank" class="ui circular button icon"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular button icon"><i class="weixin icon"></i></a>
                    <a href="#" target="_blank" class="ui qq circular button icon"
                       data-content="qqnumber"
                       data-position="bottom center"><i class="qq icon"></i></a>
                </div>
                <div class="ui wechat-qr flowing popup transition hidden">
                    <img src="../static/images/wechat.png" alt="" class="ui rounded image" style="width: 120px">
                </div>
            </div>
        </div>
    </div>

</div>

<br/>
<br/>


<!--    页脚-->
<footer th:replace="_fragments :: footer"></footer>



<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script type="text/javascript">
    $(".menu.toggle").click(function () {
        //m-item
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.qq').popup({});

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        on: 'hover',
        position: 'bottom center'
    });


</script>
</body>


</html>
